<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqY4J0mkybyLwscyPhUiH3CVsvgQMOcpc</string>
	<key>GCM_SENDER_ID</key>
	<string>1074101022704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heartplanner</string>
	<key>PROJECT_ID</key>
	<string>hot-project-56080</string>
	<key>STORAGE_BUCKET</key>
	<string>hot-project-56080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074101022704:ios:18798c7798e6e30c7a3735</string>
	<key>DATABASE_URL</key>
	<string>https://hot-project-56080-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>